.NewItineraryButton {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  font-size: 1.1rem;
  color: #f0f8ff;
  background-color: #0A5CFF;
  text-decoration: none;
  border-radius: 0.3rem;
}
.NewItineraryButton img {
  width: 1.5rem;
  height: 1.5rem;
}
.NewItineraryButton:hover{
    background-color: #1e6ffb;
}